body{
	background-image: url("wow-Illidan-BG.jpg");
}

label{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 1;
	font-size: 110%;
}

input{
	margin-bottom: 2%;
}

select{
	margin-bottom: 2%;
}

#inputs{
	position: fixed;
	text-align: center;
	left: 30%;
	width: 40%;
	height: 20%;
	top: 15%;
}

#playerInfoBlock{
	position: relative;
	left: 10%;
	width: 80%;
	background-color: rgba(120,197,141,.6);
	text-align: center;
}

#output{
	position: fixed;
	top: 35%;
	bottom: 90%;
	width: 100%;
	height: 55%;
	background-color: rgba(158,194,168,.35);
}

#statBlock{
	position: relative;
	top: 20%;
	bottom: 80%;
	width: 15%;
	height: 60%;
	left: 5%;
	background-color: rgba(120,197,141,.6);
}

#statBlock2{
	position: relative;
	bottom: 40%;
	left: 20%;
	width: 15%;
	height: 60%;
	background-color: rgba(120,197,141,.6);
}

#attributes{
	position: relative;
	top: 2%;
	width: 90%;
	left: 5%;
	height: 33%;
}

#attack{
	position: relative;
	top: 2%;
	height: 20%;
	width: 90%;
	left: 5%;
}

#spell{
	position: relative;
	left: 5%;
	height: 20%;
	top: 2%;
	width: 90%;
}

#defence{
	position: relative;
	top: 2%;
	bottom: 40%;
}

#enhancements{
	position: relative;
	top: 20%;
}

#compareBlock{
	position: relative;
	left: 35%;
	bottom: 100%;
	width: 20%;
	height: 60%;
	background-color: rgba(120,197,141,.6);
}