body{
	background-image: url("wow-Illidan-BG.jpg");
	font-family: 'Roboto', sans-serif;
}

label{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 1;
	font-size: 105%;
}

input{
	margin-bottom: 2%;
}

select{
	margin-bottom: 2%;
}

p{
	font-weight: bold;
}

.att{
	color: #007203;
	font-size: 106%
}

.staticField{
	font-weight: bold;
}


#inputs{
	position: fixed;
	text-align: center;
	left: 30%;
	width: 40%;
	height: 20%;
	top: 15%;
}

#playerInfoBlock{
	position: relative;
	left: 10%;
	width: 80%;
	background-color: rgba(120,197,141,.6);
	text-align: center;
}

#output{
	position: fixed;
	top: 35%;
	bottom: 90%;
	width: 100%;
	height: 55%;
	background-color: rgba(158,194,168,.35);
}

#statBlock{
	position: relative;
	top: 20%;
	bottom: 80%;
	width: 20%;
	height: 65%;
	left: 5%;
	background-color: rgba(120,197,141,.6);
}

#statBlock2{
	position: relative;
	bottom: 48.2%;
	left: 25%;
	width: 15%;
	height: 65%;
	background-color: rgba(120,197,141,.6);
}

#attributes{
	position: relative;
	top: 2%;
	width: 90%;
	left: 5%;
	height: 33%;
}

#attack{
	position: relative;
	top: 2%;
	height: 20%;
	width: 90%;
	left: 5%;
}

#spell{
	position: relative;
	left: 5%;
	height: 20%;
	top: 2%;
	width: 90%;
}

#defence{
	position: relative;
	top: 2%;
	bottom: 40%;
}

#enhancements{
	position: relative;
	top: 10%;
}

#compareBlock{
	position: relative;
	left: 40%;
	bottom: 116.4%;
	width: 20%;
	height: 65%;
	background-color: rgba(120,197,141,.6);
}
#compare0{
	top: 5%;
	position: relative;
}
#compare1{
	top: 5%;
	position: relative;
}
#compare2{
	top: 5%;
	position: relative;
}
#fail{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 30%;
	background-color: rgba(120,197,141,.6);
}